/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.4.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/

body {
    color: #333;
    /* font-weight: 500; */
}

.header {
    background: url(/img/bg_header.png);
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.transparent-header .header:not(.dark) .navbar-nav>li:not(.active)>a {
    color: white;
}

.transparent-header .header:not(.dark) .navbar-nav>li.open>a,
.transparent-header .header:not(.dark) .navbar-nav>li>a:hover,
.transparent-header .header:not(.dark) .navbar-nav>li>a:focus {
    color: black;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: black;
}

#logo_img {
    max-height: 48px;
    margin-top: 3px;
}

.fixed-header-on .header .logo #logo_img {
    max-height: 38px;
    margin-top: 5px;
}

.logo-font {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.medium_white {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.grey-bg {
    background-color: #EEEDED;
    font-size: 1.2em;
}

.call-to-action strong {
    color: #e74c14;
    font-weight: 700;
}

h4.liste {
    color: #e74c14;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.dick {
    color: #e74c14;
    font-weight: 700;
    font-size: 40px;
}

.grey-striped-bg {
    background-color: #EEEDED;
    background: url(/img/bg_callout.png);
    color: black;
}

.white-striped-bg {
    background: url(/img/bg_callout.png);
}

.green-bg {
    background: #EEF4E8;
}

.av-30 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.nav-tabs.style-3 {
    border-bottom: 1px solid #999999;
    background-color: #DBE6B8;
}

.nav-tabs.style-3>li>a {
    color: #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}

.icon.without-bg {
    font-size: 24px;
}

.feature-box-2 .body {
    margin-left: 32px;
}

.slideshow .dark-translucent-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer {
    font-size: 18px;
    line-height: 1.5;
    background: #005291 url(/img/bg_kontakt.png);
    color: white;
}

.footer-content h3,
.footer-content h4 {
    color: #ffdd00;
    font-weight: bold;
}

.footer-content h4 {
    margin-bottom: 0;
}

.form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
    height: 40px;
    padding-right: 30px;
    border-color: #e1e1e1;
    color: #777777;
    position: relative;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.btn-warning {
    color: #a2751a;
    background-color: #ffdd00;
    border-color: #ffdd00;
    border-radius: 5;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 60px;
}

.subfooter2 {
    background-color: #EEEDED;
    /* background: url(/img/bg_news.png); */
    border-top: none;
    /* color: #a2751a; */
    font-weight: 700;
}

.subfooter {
    color: #5d5d5d;
    background: url(/img/bg_callout.png);
    line-height: 1.8;
}

.subfooter a,
.subfooter a:hover {
    color: #5d5d5d;
}

.small small {
    font-size: 90%;
}

.navbar-default .navbar-toggle {
    border-color: #ccc;
}

.navbar-default .navbar-toggle {
    border-color: #ccc;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}

.navbar.navbar-default {
    margin: 0 15px;
    font-weight: 700;
    background: none;
    border: none;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-brand img {
    margin-top: 1px;
    max-height: 46px;
}

header li a {
    font-weight: 700;
}

.big {
    font-size: 1.8em;
    padding-right: 5px;
}

.grey_box {
    background: #A7A7A7 url(/img/bg_callout.png);
    padding-top: 20px;
    padding-bottom: 30px;
    opacity: 1;
    margin-bottom: 20px;
    font-family: "Roboto", "sans-serif";
}

.grey_box h1,
.grey_box h2,
.grey_box h3,
.grey_box h4,
.grey_box p {
    font-family: "Roboto", "sans-serif";
}

.btn-default,
.btn-xl {
    border-radius: 5px;
}

.dark-translucent-bg::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.slideshow .dark-translucent-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.btn.moving i {
    font-size: 36px;
    height: 14px;
}

.mfp-counter {
    display: none;
}

.owl-carousel .owl-item .overlay-container {
    width: 90%;
}

.fixed-header-on .header.fixed:not(.dark) {
    border-bottom: 0;
    background: url(/img/bg_header.png);
}

.vertical .nav-tabs>li.active>a,
.vertical .nav-tabs>li.active>a:hover,
.vertical .nav-tabs>li.active>a:focus {
    border: 1px solid #f1f1f1;
    border-right-color: rgb(241, 241, 241);
    background-color: #fafafa;
    border-right-color: transparent;
    color: #777777;
    z-index: 2;
}

.vertical .nav-tabs>li a {
    margin: 0;
    padding: 10px 20px;
    white-space: nowrap;
    color: #ffffff;
    border-bottom: 1px solid #919191;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.vertical .feature-box-2 h4 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.vertical .feature-box-2 p {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}

.vertical .feature-box-2 i {
    color: #777777;
}

footer a,
footer a:hover {
    color: white;
}

footer a:hover {
    color: white;
}

.transparent-header header.header.transparent-header-on {
    border: none;
}

.has-error .error {
    color: #ffdd00;
}

.alert-success {
    color: #005291;
    background-color: #b7b7b7;
}

h4.large {
    font-family: "Roboto", sans-serif;
}

.headline {
    color: #e74c14;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
}

.white {
    color: white;
}

.h2 strong {
    font-weight: 700;
}

.pv-30 {
    padding-top: 30px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    a.navbar-brand img.img-responsive {
        margin-top: -6px;
        max-height: 34px;
    }
}